html {
    font-family: monospace;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#cabecera {
    text-align: center;
}

footer {
    margin-top: auto;
}

#t1 {
    font-size: 20px;
}

#BETIS {
    float: right;
    height: auto;
}

#acarreo {
    float: left;
    height: auto;
}