html {
    font-family: monospace;
}

body {
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#cabecera {
    text-align: center;
}

footer {
    margin-top: auto;
}

#t1 {
    font-size: 20px;
}

#BETIS {
    float: right;
}