html {
    font-family: monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: dodgerblue;
}

#cabecera {
    color: white;
    text-align: center;
}

footer {
    margin-top: auto;
}